body {
    display:flex;
    flex-direction: column;
}
.grid-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    align-self: center;
    
}

.options-pane {
    display: flex;
}
ul {
    list-style-type: none;
}

.grid-cell:hover {
    background-color:gainsboro;
}